<h1>View song's mood radio</h1>

<% form_tag '/mood', :method => 'get' do %>
 <p>
   Search for a song <i>(We only do name exactly match)</i> <br/>
   <%= text_field_tag :search, params[:search] %>
   <%= submit_tag "Search", :name => nil %>
  </p>
 <% end %>
 <br />
 <br />
 <h1>Search Results:</h1>
<hr/>
<table>
  <tr>
    
    <th align="left">Track</th>
    <th> &nbsp;&nbsp;&nbsp;</th>
    <th align="left">Artist</th>
    <th> &nbsp;&nbsp;&nbsp;</th>
    <th align="left">Track_id</th>
    <th> &nbsp;&nbsp;&nbsp;</th>
    <th align="left">Popularity</th>
    <th> &nbsp;&nbsp;&nbsp;</th>
    <th align="left">Mood Radio</th>
    
  </tr>

<% 
if @tracks != nil then
@tracks.each do |track| 
%>
  <tr>
    <td><%=h track.name %></td>
    <td> &nbsp;&nbsp;&nbsp;</td>
    <td><%=h track.artist.name %></td>
    <td> &nbsp;&nbsp;&nbsp;</td>
    <td><%=h track.id %></td>
    <th> &nbsp;&nbsp;&nbsp;</th>
    <td><%=h track.aggregated_popularity %></td>
    <td> &nbsp;&nbsp;&nbsp;</td>
    <td><a href="/mood/radio/<%=h track.id %>">Radio</a></td>



    
  </tr>
<% end end%>
</table>

<br />

